//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 100%;
        padding: 40px 20px;
    }

    // -------------------------------------header content------------------------------------------

    #header-content-title {

        >h1 {
            font-size: 45px;
            line-height: 45px;
            text-align: center;
        }

        >p {
            font-size: 20px;
            text-align: center;
        }
    }

    // -------------------------------------services------------------------------------------

    .services-card {
        margin-top: 25px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -70%;

    }

    #about-content {
        >section {
            width: 100%;
        }
    }

    #about-content-title {
        align-items: center;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 45px;
        }
    }

    #partners-boxes {
        width: 80%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 25px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        top: 0%;

        >img {
            width: 1000px;
        }

    }

    #we-back-2 {
        bottom: 0%;

        >img {
            width: 1000px;
        }
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 50px 0;
    }

    #who-we-title {
        align-items: center;
        padding-left: 0;
        padding: 0 2%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: center;
        padding-left: 0%;


        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 45px;
        }
    }

    #offer-content {
        padding: 40px 50px;

    }

    .offer-content-card {
        margin-top: 35px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0%;
        align-items: center;


        >h3 {
            text-align: center;
            font-size: 45px;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    #team-cards {
        width: 500px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 30px;
        }
    }

    // -------------------------------------message------------------------------------------
    #message {
        width: 100%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    #message-back {
        top: 0;
        z-index: -1;

        >img {
            width: 1000px;
        }
    }

    #message-title {
        >h3 {
            font-size: 45px;
        }
    }

    #message-form {
        width: 98%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: center;

        >div {
            justify-content: center;
        }
    }

    #footer-info {
        margin-top: 40px !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 60px;
        }
    }

    #footer-singup {
        margin-top: 40px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {
    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 90%;
        padding: 40px 0px;
    }

    // -------------------------------------header content------------------------------------------

    #header-content-title {

        >h1 {
            font-size: 52px;
            line-height: 45px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    // -------------------------------------services------------------------------------------

    .services-card {
        margin-top: 25px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -70%;

    }

    #about-content {
        >section {
            width: 100%;
        }
    }

    #about-content-title {
        align-items: center;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 45px;
        }
    }

    #partners-boxes {
        width: 80%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 25px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        top: 0%;

        >img {
            width: 1000px;
        }

    }

    #we-back-2 {
        bottom: 0%;

        >img {
            width: 1000px;
        }
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 50px 0;
    }

    #who-we-title {
        align-items: center;
        padding-left: 0;
        padding: 0 2%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: center;
        padding-left: 0%;


        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 45px;
        }
    }

    #offer-content {
        padding: 40px 50px;

    }

    .offer-content-card {
        margin-top: 35px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0%;
        align-items: center;


        >h3 {
            text-align: center;
            font-size: 45px;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    #team-img {
        display: flex;
        justify-content: center;
    }

    #team-cards {
        width: 600px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 30px;
        }
    }

    // -------------------------------------message------------------------------------------
    #message {
        width: 100%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    #message-back {
        top: 0;
        z-index: -1;

        >img {
            width: 1000px;
        }
    }

    #message-title {
        >h3 {
            font-size: 45px;
        }
    }

    #message-form {
        width: 98%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: center;

        >div {
            justify-content: center;
        }
    }

    #footer-info {
        margin-top: 40px !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 60px;
        }
    }

    #footer-singup {
        margin-top: 40px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {
    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 100%;
        padding: 40px 0px;
    }

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 95%;
    }


    #nav-menu-desktop {


        >ul {


            >li {
                padding: 0 20px;

            }
        }
    }

    // -------------------------------------header content------------------------------------------

    #header-content-title {

        >h1 {
            font-size: 52px;
            line-height: 45px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    // -------------------------------------services------------------------------------------

    .services-card {
        margin-top: 25px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -70%;

    }

    #about-content {
        >section {
            width: 100%;
        }
    }

    #about-content-title {
        align-items: center;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 45px;
        }
    }

    #partners-boxes {
        width: 80%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 25px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        top: 0%;

        >img {
            width: 1000px;
        }

    }

    #we-back-2 {
        bottom: 0%;

        >img {
            width: 1000px;
        }
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 50px 0;
    }

    #who-we-title {
        align-items: center;
        padding-left: 0;
        padding: 0 2%;
        width: 100%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: center;
        padding-left: 0%;
        width: 100%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 45px;
        }
    }

    #offer-content {
        padding: 40px 0px;
        min-width: 100%;

    }

    .offer-content-card {
        margin-top: 35px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0%;
        align-items: center;


        >h3 {
            text-align: center;
            font-size: 45px;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    #team-img {
        display: flex;
        justify-content: center;
    }

    #team-cards {
        width: 600px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 30px;
        }
    }

    // -------------------------------------message------------------------------------------
    #message {
        width: 100%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    #message-back {
        position: absolute;
        left: -41%;
        top: -225px;
        z-index: -1;

        >img {
            animation: star 10s ease-out infinite;
            width: 1600px;
        }
    }

    #message-title {
        >h3 {
            font-size: 45px;
        }
    }

    #message-form {
        width: 70%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: start;
        padding-left: 5%;

        >div {
            justify-content: start;
        }
    }

    #footer-info {
        margin-top: 0 !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 0;
        }
    }

    #footer-singup {
        margin-top: 40px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {
    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 100%;
        padding: 40px 0px;
    }

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 95%;
    }


    #nav-menu-desktop {


        >ul {


            >li {
                padding: 0 25px;

            }
        }
    }

    // -------------------------------------header content------------------------------------------
    #header-content {
        width: 95%;
    }

    #header-content-title {

        >h1 {
            font-size: 52px;
            line-height: 45px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    #header-content-img {
        display: flex;
        justify-content: end;
        align-items: center;

        >figure {
            >img {
                width: 500px;
            }
        }
    }

    // -------------------------------------services------------------------------------------

    .services-card {
        margin-top: 25px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -70%;

    }

    #about-content {
        >section {
            width: 100%;
        }
    }

    #about-content-title {
        align-items: center;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 45px;
        }
    }

    #partners-boxes {
        width: 80%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 25px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        top: 0%;

        >img {
            width: 1000px;
        }

    }

    #we-back-2 {
        bottom: 0%;

        >img {
            width: 1000px;
        }
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 50px 0;
    }

    #who-we-title {
        align-items: center;
        padding-left: 0;
        padding: 0 2%;
        width: 100%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: center;
        padding-left: 0%;
        width: 100%;

        >h3 {
            font-size: 45px;
            text-align: center;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 45px;
        }
    }

    #offer-content {
        padding: 40px 0px;
        min-width: 100%;

    }

    .offer-content-card {
        margin-top: 35px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0%;
        align-items: center;


        >h3 {
            text-align: center;
            font-size: 45px;
        }

        >p {
            font-size: 18px;
            text-align: center;
        }
    }

    #team-img {
        display: flex;
        justify-content: center;
    }

    #team-cards {
        width: 600px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 30px;
        }
    }

    // -------------------------------------message------------------------------------------
    #message {
        width: 100%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    #message-back {
        position: absolute;
        left: -41%;
        top: -225px;
        z-index: -1;

        >img {
            animation: star 10s ease-out infinite;
            width: 1600px;
        }
    }

    #message-title {
        >h3 {
            font-size: 45px;
        }
    }

    #message-form {
        width: 70%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: start;
        padding-left: 5%;

        >div {
            justify-content: start;
        }
    }

    #footer-info {
        margin-top: 0 !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 0;
        }
    }

    #footer-singup {
        margin-top: 40px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {
    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 85%;
        padding: 40px 0px;
    }

    // -------------------------------------nav bar------------------------------------------



    #nav-menu-desktop {


        >ul {


            >li {
                padding: 0 30px;

            }
        }
    }

    // -------------------------------------header content------------------------------------------
    #header-content {
        width: 85%;
    }

    #header-content-title {

        >h1 {
            font-size: 52px;
            line-height: 45px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    #header-content-img {
        display: flex;
        justify-content: end;
        align-items: center;

        >figure {
            >img {
                width: 500px;
            }
        }
    }

    // -------------------------------------services------------------------------------------
    #services-cards {
        width: 90%;
    }

    .services-card {
        margin-top: 25px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -70%;

    }

    #about-circle {
        position: absolute;
        top: -27%;
        right: -13%;
        z-index: -1;
    }

    #about-content {
        >section {
            width: 50%;
        }
    }

    #about-content-img {
        >figure {

            &:nth-of-type(1) {
                top: 8%;
                right: 30%;
            }
        }
    }

    #about-content-title {
        padding-left: 20px;
        align-items: start;

        >h3 {
            font-size: 45px;
            text-align: start;
        }

        >p {
            font-size: 18px;
            text-align: start;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 45px;
        }
    }

    #partners-boxes {
        width: 80%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 25px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        top: 0%;

        >img {
            width: 1000px;
        }

    }

    #we-back-2 {
        bottom: 0%;

        >img {
            width: 1000px;
        }
    }

    #circle-we-top {
        position: absolute;
        top: -15%;
        left: -15%;
        z-index: -1;
    }

    #circle-we-bottom {
        position: absolute;
        bottom: -15%;
        right: -15%;
        z-index: -1;
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 50px 0;
    }

    #who-we-title {
        align-items: start;
        padding: 0 0;
        padding-left: 10%;
        width: 50%;

        >h3 {
            font-size: 45px;
            text-align: start;
        }

        >p {
            font-size: 18px;
            text-align: start;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: start;
        padding-left: 5%;
        width: 50%;

        >h3 {
            font-size: 45px;
            text-align: start;
        }

        >p {
            font-size: 18px;
            text-align: start;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 45px;
        }
    }

    #offer-content {
        padding: 40px 0px;
        min-width: 100%;

    }

    .offer-content-card {
        margin-top: 35px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        align-items: start;


        >h3 {
            text-align: start;
            font-size: 45px;
        }

        >p {
            font-size: 18px;
            text-align: start;
        }
    }

    #team-img {
        display: flex;
        justify-content: center;
    }

    #team-cards {
        width: 600px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 30px;
        }
    }

    // -------------------------------------message------------------------------------------
    #message {
        width: 100%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    #message-back {
        position: absolute;
        left: -41%;
        top: -225px;
        z-index: -1;

        >img {
            animation: star 10s ease-out infinite;
            width: 1600px;
        }
    }

    #message-circle {
        position: absolute;
        bottom: -35%;
        right: -15%;
        z-index: -1;
    }

    #message-title {
        >h3 {
            font-size: 45px;
        }
    }

    #message-form {
        width: 70%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: start;
        padding-left: 0%;

        >div {
            justify-content: start;
        }
    }

    #footer-info {
        margin-top: 0 !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 0;
        }
    }

    #footer-singup {
        margin-top: 40px;
        align-items: end;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {
    // -----------------------------------------------header---------------------------------------

    // -------------------------------------nav bar------------------------------------------
    #nav-bar {
        min-width: 70%;
        padding: 40px 0px;
    }

    // -------------------------------------nav bar------------------------------------------



    #nav-menu-desktop {


        >ul {


            >li {
                padding: 0 35px;

            }
        }
    }

    // -------------------------------------header content------------------------------------------
    #header-content {
        width: 70%;
    }

    #header-content-title {

        >h1 {
            font-size: 70px;
            line-height: 67px;
            text-align: start;
        }

        >p {
            font-size: 22px;
            text-align: start;
        }
    }

    #header-content-img {
        display: flex;
        justify-content: end;
        align-items: center;

        >figure {
            >img {
                width: 110%;
            }
        }
    }

    // -------------------------------------services------------------------------------------
    #services-cards {
        width: 65%;
    }

    .services-card {
        margin-top: 10px;
    }

    // -------------------------------------about------------------------------------------
    #about-back {
        left: -41%;

    }

    #about-circle {
        position: absolute;
        top: -22%;
        right: -8%;
        z-index: -1;
    }

    #about-content {
        >section {
            width: 50%;
        }
    }

    #about-content-img {
        >figure {

            &:nth-of-type(1) {
                top: 8%;
                right: 23%;
            }
        }
    }

    #about-content-title {
        padding-left: 20px;
        align-items: start;

        >h3 {
            font-size: 52px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    // -------------------------------------partners------------------------------------------
    #partners-title {

        >h3 {
            font-size: 52px;
        }
    }

    #partners-boxes {
        width: 70%;
        flex-wrap: wrap;
    }

    .partners-box {
        margin-top: 0px;
    }

    // -------------------------------------we------------------------------------------
    #we-back-1 {
        position: absolute;
        top: -30%;
        right: -26%;
        z-index: -1;

        >img {
            width: 1600px;
        }

    }

    #we-back-2 {
        position: absolute;
        bottom: -12%;
        left: -42%;
        z-index: -1;

        >img {
            width: 1600px;
        }
    }

    #circle-we-top {
        position: absolute;
        top: -10%;
        left: -10%;
        z-index: -1;
    }

    #circle-we-bottom {
        position: absolute;
        bottom: -10%;
        right: -10%;
        z-index: -1;
    }

    // ---------------------------who we are---------------------------------
    #who-we {
        padding: 100px 0;
    }

    #who-we-title {
        align-items: start;
        padding: 0 0;
        padding-left: 15%;
        width: 50%;

        >h3 {
            font-size: 52px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }

        >div {

            >span {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }
        }
    }

    // ---------------------------what we do---------------------------------
    #what-we-title {
        align-items: start;
        padding-left: 5%;
        width: 50%;

        >h3 {
            font-size: 52px;
            text-align: start;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }

        >div {
            width: 500px;

            >span {

                >figure {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 70%;
                    padding-left: 10px;

                    >h3 {
                        text-align: center;
                    }

                    >p {
                        text-align: center;
                    }
                }

            }
        }
    }

    // -------------------------------------offer------------------------------------------

    #offer-title {
        >h3 {
            font-size: 52px;
        }
    }

    #offer-content {
        padding: 40px 0px;
        min-width: 60%;

    }

    .offer-content-card {
        margin-top: 0px;
    }

    // -------------------------------------team------------------------------------------
    #team {
        width: 100%;
        padding: 100px 0;
        position: relative;
        overflow: hidden;

        >div {
            min-height: 600px;
        }
    }


    #team-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 22%;
        align-items: start;


        >h3 {
            text-align: start;
            font-size: 52px;
        }

        >p {
            font-size: 20px;
            text-align: start;
        }
    }

    #team-img {
        display: flex;
        justify-content: start;
    }

    #team-cards {
        width: 600px;
    }

    // -------------------------------------quotation------------------------------------------
    #quotation {
        >p {
            font-size: 36px;
        }
    }

    // -------------------------------------message------------------------------------------

    #message-back {
        position: absolute;
        left: -41%;
        top: -225px;
        z-index: -1;

        >img {
            animation: star 10s ease-out infinite;
            width: 1600px;
        }
    }

    #message-circle {
        position: absolute;
        bottom: -30%;
        right: -10%;
        z-index: -1;
    }

    #message-title {
        >h3 {
            font-size: 52px;
        }
    }

    #message-form {
        width: 60%;
    }

    // -----------------------------------------------footer---------------------------------------
    footer {
        width: 100%;
        background-color: #171D34;
        padding: 100px 0;
        display: flex;
        justify-content: center;

        >section {
            min-width: 380px;
        }
    }

    #footer-media {
        text-align: start;
        padding-left: 0%;

        >div {
            justify-content: start;
        }
    }

    #footer-info {
        margin-top: 0 !important;
        display: flex;

        >ul {
            width: 50%;
            padding-left: 0;
        }
    }

    #footer-singup {
        margin-top: 40px;
        align-items: end;
    }
}